body {
  color: rgb(16, 223, 44);
}
.container {
    border: 1px solid #eee;
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-around;
}
p {
  font-size: 1.5rem;
  color: mediumorchid;
}
